{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kai Metals</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = " {%static 'mainPage/mainPagecss.css'%}">
        <script src="https://kit.fontawesome.com/f4c786776e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <section class = "landing-page">
            <div class = "site-title">
                <h2>
                    Kai Metals 
                </h2>
                <div class = "search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class = "user-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class = "top-nav-bar"> 
                    <a class="Home" href="">Home</a>
                    <a class="silver" href="silver">Silver</a>
                    <a class="gold" href="gold">Gold</a>
                    <a class="diamond" href="diamond">Diamond</a>
                </div>
            </div>
        </section>
        <div class = "grid-container">
            <div class = "grid-item-1">
                <img src = "{%static 'mainPage/pexels-git-stephen-gitau-1670723.jpg'%}">
            </div>

            <div class = "grid-item-2">
                <img src = "{%static 'mainPage/pexels-git-stephen-gitau-1670723.jpg'%}">
            </div>
            <div class = "grid-item-3">
                <p>Hac congue nibh mattis semper magna dictumst condimentum potenti integer. 
                    Praesent vel nostra nibh ultrices convallis velit vel velit. 
                    Cubilia faucibus augue a ultricies penatibus quisque pharetra inceptos dignissim potenti nunc. Cursus sem sed odio mi purus. 
                    Senectus quam ad laoreet nibh egestas molestie varius diam nisl. 
                    Placerat phasellus phasellus arcu adipiscing tristique ullamcorper dictum quis. 
                    Sollicitudin libero egestas maecenas felis neque scelerisque porttitor enim dis. 
                    Sollicitudin consectetur sem, fusce et montes placerat quisque condimentum est varius fames nisi.
                    Hendrerit torquent donec ultricies platea fames potenti curabitur.</p>
            </div>
            <div class = "grid-item-4">
                <img src = "{%static 'mainPage/pexels-git-stephen-gitau-1670723.jpg'%}">
            </div>

            <div class = "grid-item-5">
                <img src = "{%static 'mainPage/pexels-git-stephen-gitau-1670723.jpg'%}">
            </div>
        </div>
    </body>
</html>