{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kai Metals: Diamond</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = " {%static 'diamondPage/diamondPagecss.css'%}">
        <script src="https://kit.fontawesome.com/f4c786776e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class = "site-title">
            <h2>
                Kai Metals 
            </h2>
            <h3>
                <i class="fa-solid fa-gem"> Diamonds </i>
            </h3>
            <div class = "search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class = "user-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class = "diamond-icon">
                <i class="fa-solid fa-gem"></i>
            </div>
        </div>
    </body>
</html>